@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply scroll-smooth;
}

body {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner::before {
  left: 0;
  border: 50vw solid #fff;
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  content: "";
  border-top: 1.6875rem solid transparent;
  border-bottom: 0 solid transparent;
  z-index: 5;
}

.banner:after {
  right: 0;
  border: 50vw solid #fff;
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  content: "";
  border-top: 1.6875rem solid transparent;
  border-bottom: 0 solid transparent;
  z-index: 5;
}

.logo-banner {
  width: 0;
  height: 0;
  border-left: 104px solid transparent;
  border-right: 104px solid transparent;

  border-top: 50px solid white;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 300ms ease;
}

.underline-animation,
.news-content a {
  position: relative;
  text-decoration: none;
}

.underline-animation::after,
.news-content a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.underline-animation:hover::after,
.news-content a:hover::after {
  transform: scaleX(1);
}

* {
  box-sizing: border-box;
}

.heading {
  font-family: "Vollkorn", serif;
}

.btn-primary {
  @apply py-3 px-6 text-xs uppercase border font-semibold transition-all duration-300;
}

.form-input {
  @apply mb-4 px-4 py-2 border border-neutral-400 bg-white rounded-lg transition-all;
}

.form-input:hover,
.form-input:focus-within {
  @apply border-black;
}

.form-input:focus-within {
  @apply outline-none;
}

.scrollbar::-webkit-scrollbar {
  @apply w-2;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3rem;
  border: 2px solid white;
}

.scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 4px;
}

.scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 4px;
}

@media screen and (max-width: 1024px) {
  .btn-primary {
    @apply py-2 px-4;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: white;
    color: black;
  }

  input {
    background: white;
  }

  textarea {
    background: white;
  }
}
